body{
	background-color: #fff;
}

.col-sm-10{
	 background-color: #fff;
}

#categ:hover{
	color: #C0D5F8;
}

#sidemenu a:hover{
	color: #fff;
	background-color: #08f;
	font-weight: bold;
	display: block;

}

#footer{
	background-color: #191717;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	font-weight: bold;
	color: white;
}

.initial{
	height: 10px;
	background: #5BF6DE;
}
.navbar-nav li {
	font-weight: bold;
	font-family: Georgia;
	font-size: 1.2em;
	text-decoration-color: #fff;
}

.navbar{
	background-color: #E2F3E0;
}

.blogpost{
	background-color:#DAD7D7;
	padding-top:20px;
	margin-bottom: 30px;
	overflow: hidden;	
}

#heading{
	font-family: Georgia;
	font-weight: bold;
	color: #168ACD;
}

#heading:hover{
	background-color:#F0EEEE;
	cursor: pointer;
}

.heading:hover{
	background-color:#F0EEEE;
	cursor: pointer;
}

.col-sm-10 label{
	color: #FF7430;
	font-family: serif;
	font-weight: bold;
	font-size: 1.1em;
}
.col-sm-10 h1{
	color: #FF7430;
	font-family: serif;
	font-weight: bold;
}
.col-sm-4 label{
	color: #FF7430;
	font-family: serif;
	font-weight: bold;
	font-size: 1.1em;
}
.col-sm-4 h1{
	color: #FF7430;
	font-family: serif;
	font-weight: bold;
}
.col-sm-10 label{
	color: #FF7430;
	font-family: serif;
	font-weight: bold;
	font-size: 1.1em;
}
.col-sm-10 h1{
	color: #FF7430;
	font-family: serif;
	font-weight: bold;
}
.fullpost label{
	color: #F7B83F;
}

.span span{
	color: #F7B83F;
}

.navbar-brand img{
	height: 540px;
}

.main-comment{
	background-color:#FCFBFB;
}

.sub p{
	text-align: ;
	margin-left: 210px;
}
.sub{
	margin-top:-160px;
}








